<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>안녕하세요 여기는 HOME 화면 입니다.</h2>
</body>
  <script src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
<script type="text/javascript">
	kkk();
	
	function kkk(){
		$.ajax({
	    	url: 'http://192.168.0.41:8080/home',
	    	type: 'GET',
	    	dataType: 'json',
		    success: function (response) {
		        	console.log(response);
		    }
	    });
	    
	}

</script>
</html>